<!DOCTYPE html>
<html>
<head>
    <title>{{ article.titre }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <h1>{{ article.titre }}</h1>
    <p>{{ article.contenu }}</p>
    <p><strong>Auteur :</strong> {{ article.auteur }}</p>
    <p><strong>Date de publication :</strong> {{ article.date_publication }}</p>
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="Image de l'article">
    {% endif %}
    <a href="{% url 'article-list' %}">Retour à la liste</a>
</body>
</html>